<div fxLayout="row" fxFill class="login-wrapper">
  <form [formGroup]="form">
    <div fxLayout="row" class="logo-wrapper">
      <img class="logo" src="assets/images/logo-black.svg" alt="Logo de la aplicación">
    </div>
    <div fxLayout="column" class="form-group">
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput type="text" required formControlName="username">
        <mat-icon matPrefix color="primary">account_circle</mat-icon>
        <mat-error *ngIf="form.get('username').hasError('required')">
          El usuario es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" required formControlName="password">
        <mat-icon matPrefix color="primary">lock</mat-icon>
        <mat-error *ngIf="form.get('password').hasError('required')">
          La contraseña es <strong>obligatoria</strong>
        </mat-error>
      </mat-form-field>
      <div class="footer-buttons">
        <button mat-mini-fab color="primary" matTooltip="Iniciar sesión" [disabled]="!form.valid" (click)="login()">
          <mat-icon>login</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
